.tituloPrin {
    transform: translate(0px, 20px);

    .tituloP {
        text-align: center;
        font-size: 50px;
        color: #6F878F;
        text-decoration: underline 5px solid #294a55;
      }

      .tituloS {
        color: #6F878F;
        }
  }
  
